/* Ensures columns stack properly */
/* Thanks to http://www.bluthemes.com/blog/3/clearing-bootstrap-3-columns */
/*  Tablet  */
@media (min-width:767px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}

/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}

/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}

.course-list-item {
	margin-top: 20px;
	border-radius: 0;
}

.progress {
	margin-bottom: 0px;
	border-radius: 0px;
}
.list-detail-glyphicon { padding-right: 20px; }
.panel { border-radius: 0px; }
.panel-heading { border-radius: 0px; }
.label-day { border-radius: 0px; }

/* CourseView */
.panel-label {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 14px;
	margin-top: -10px;
	margin-bottom: -10px;
	border-radius: 0px;
}
.label-type {
	margin-left: -15px;
	width: 60px;
}
.label-identifier {
	margin-left: -5px;
	margin-right: -5px;
	width: 100px;
}
.label-course-code {
	margin-right: -15px;
	float: right;
}
.dropdown-menu {
	border-radius: 0px;
}

/* Collapsible */
.panel {
	border: 0px;
}
.panel-collapse .list-group {
	margin-top: -16px;
	margin-left: -15px;
	margin-right: -15px;
}
.panel-collapse .list-group .list-group-item {
	border-radius: 0px;
}
.panel.panel-primary {
	border-radius: 0px;
	margin-bottom: -6px;
}