@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
body {
    background-color: #eee;
}
.navbar {
	margin-bottom: 15px;
}
.jumbotron {
	display: block;
	max-width: 800px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0 !important;
}
.form-control {
	border-radius: 0;
}
.progress {
	margin-bottom: 4px;
}
.alert {
	border-radius: 0px;
}
.btn {
	border-radius: 0px;
}
.form-user-management .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.button-add {
	margin-top: -1px;
}
.alert-invalid-courseid {
	margin-top: 10px;
	margin-bottom: 10px;
}
.course-list-item {
	margin-top: 20px;
	border-radius: 0;
}
.panel-heading {
	border-radius: 0px;
}
.label-day {
	border-radius: 0px;
}
.list-detail-glyphicon {
	padding-right: 20px;
}
.alert-login {
	margin-top: 10px;
}
.alert-account-info {
	margin-top: 10px;
	margin-bottom: 5px;
}
.form-control.update-info {
	margin-bottom: 10px;
}