/* Calendar page */
#calendar {
	margin-top: -32px;
}
.fc-event {
	border: 0px;
	/*
-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
*/
}
.fc-event:hover {
	cursor:	pointer;
}
.fc-event-title {
	font-weight: bold;	
}