<uib-accordion-group class="class-search-item">
    <uib-accordion-heading>
        <div class="class-search-item-title row">
            <div class="col-xs-5 col-md-2">
                {{class.identifier}}
            </div>
            <div class="col-xs-7 col-md-10">
                {{class.name}}
                <span class="pull-right">
                    <span class="badge" ng-show="class.prerequisites != null" popover="Prerequisites" popover-trigger="mouseenter">P</span>
                    <span class="badge">{{class.course_data.length}}</span>
                </span>
            </div>
        </div>
    </uib-accordion-heading>
    <div class="row" ng-if="$parent.isOpen">
        <div class="col-md-12">
            <div class="alert alert-warning" ng-show="class.prerequisites != null">
                <a target="_blank" href="{{class.prerequisites}}">Prerequisites</a> are required for this class
            </div>
        </div>
        <course-mini-view ng-repeat="course in class.course_data"></course-mini-view>
    </ul>
</uib-accordion-group>