<div class="list-group">
    <a class="list-group-item" href="http://websoc.reg.uci.edu/perl/WebSoc?YearTerm={{course.term}}&amp;ShowFinals=1&amp;ShowComments=1&amp;CourseCodes={{course.courseCode}}" target="_blank">
        <span class="glyphicon glyphicon-pencil list-detail-glyphicon"></span> 
        {{course.courseName}}
    </a>
    <a class="list-group-item" href="http://www.ratemyprofessors.com/search.jsp?queryoption=HEADER&amp;queryBy=teacherName&amp;schoolName=University+of+California+Irvine&amp;query={{course.instructor.split(',')[0]}}" target="_blank">
        <span class="glyphicon glyphicon-user list-detail-glyphicon"></span> 
        {{course.instructor}}
    </a>
    <a class="list-group-item" href="http://www.classrooms.uci.edu/GAC/{{course.placeBuilding}}.html" target="blank">
        <span class="glyphicon glyphicon-flag list-detail-glyphicon"></span> 
        {{course.placeBuilding}}
    </a>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-calendar list-detail-glyphicon"></span>
        <course-held-days-view></course-held-days-view>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-time list-detail-glyphicon"></span> 
        {{course.time}}
    </li>
    <li class="list-group-item" ng-hide="course.finalExam === undefined">
        <span class="glyphicon glyphicon-education list-detail-glyphicon"></span>
        <strong>Final:</strong> {{course.finalExam}}
    </li>
    <li class="list-group-item">
        <course-progress-view></course-progress-view>
    </li>
    <course-actions-view></course-actions-view>
</div>