<div class="col-xs-6 col-sm-4 col-md-2 course-search-item" ng-click="addCourse(course.courseCode)">
    <div class="panel panel-{{course.type}}">
        <div class="panel-heading">
            {{course.type}} {{course.sec}} - {{course.courseCode}}
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item course-search-item-detail">
                    <span ng-repeat="instructor in course.instructor">
                        {{instructor}}<span ng-if="!$last">,</span>
                    </span>
                </li>
                <li class="list-group-item course-search-item-detail">
                    <course-time time="course.time.clock"></course-time>
                </li>
                <li class="list-group-item course-search-item-detail">
                    <course-held-days days="course.time.days"></course-held-days>
                </li>
                <li class="list-group-item course-search-item-detail">
                    <course-progress></course-progress>
                </li>
                <li class="list-group-item course-search-item-detail">
                    <button class="btn btn-block btn-primary" ng-click="courseStore.addCourse(course.courseCode)">Add</button>
                </li>
            </ul>
        </div>
    </div>
</div>