<progressbar class="progress-striped active" value="100" type="primary" ng-show="course.fetchingRemoteData"><i>loading...</i></progressbar>

<progressbar class="progress" value="100" type="primary" ng-show="course.totalEnr == 0"><i>All {{course.max}} seats open</i></progressbar>

<progressbar animate="false" value="dynamic" type="success" value="course.totalEnr" max="course.max" ng-hide="course.totalEnr == 0"><b>{{course.totalEnr}} enrolled / {{course.max}} available</b></progressbar>

<progressbar animate="false" value="course.wl" type="warning" ng-hide="course.wl <= 0"><i> {{course.wl}} on waitlist</progressbar>
