<span class="label label-day" ng-class="course.days.indexOf('Mon') !== -1 ? 'label-primary' : 'label-default'">Mon</span>
<span class="label label-day" ng-class="course.days.indexOf('Tue') !== -1 ? 'label-primary' : 'label-default'">Tue</span>
<span class="label label-day" ng-class="course.days.indexOf('Wed') !== -1 ? 'label-primary' : 'label-default'">Wed</span>
<span class="label label-day" ng-class="course.days.indexOf('Thu') !== -1 ? 'label-primary' : 'label-default'">Thu</span>
<span class="label label-day" ng-class="course.days.indexOf('Fri') !== -1 ? 'label-primary' : 'label-default'">Fri</span>