<div class="modal-header">
    <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-hide="temporaryStore.empty()">
        Results
    </h4>
    <h4 class="model-title" ng-show="temporaryStore.empty()">No results</h4>
</div>
<div class="modal-body" ng-hide="temporaryStore.empty()">
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="section_restricted" btn-radio="true">Restricted to section {{target_section}}</label>
        <label class="btn btn-primary" ng-model="section_restricted" btn-radio="false">All</label>
    </div>
    <div class="row">
        <course-search-view class="course-search-view col-md-6" ng-repeat="course in temporaryStore.courses | section:target_section:section_restricted"></course-search-view>
    </div>
</div>