<div class="list-group">
    <li class="list-group-item">
        <span class="label panel-label label-sec label-default">{{course.sec}}</span>
        <a href="http://websoc.reg.uci.edu/perl/WebSoc?YearTerm={{course.term}}&amp;ShowFinals=1&amp;ShowComments=1&amp;CourseCodes={{course.courseCode}}" target="_blank">
        {{course.name}}
        </a>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-user list-detail-glyphicon"></span> 
        <course-instructor-view></course-instructor-view>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-flag list-detail-glyphicon"></span> 
        <a href="{{course.placeURL}}" target="blank">{{course.place}}</a>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-calendar list-detail-glyphicon"></span>
        <course-held-days-view></course-held-days-view>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-time list-detail-glyphicon"></span>
        <span ng-show="course.time.am_pm == 'AM-PM'">
            {{course.time.start}} AM to {{course.time.end}} PM
        </span>
        <span ng-show="course.time.am_pm == 'AM'">
            {{course.time.start}} to {{course.time.end}} AM
        </span>
        <span ng-show="course.time.am_pm == 'PM'">
            {{course.time.start}} to {{course.time.end}} PM
        </span>
    </li>
    <li class="list-group-item" ng-hide="course.finalExam === undefined">
        <span class="glyphicon glyphicon-education list-detail-glyphicon"></span>
        <strong>Final:</strong> {{course.finalExam}}
    </li>
    <li class="list-group-item">
        <course-progress-view></course-progress-view>
    </li>
    <course-actions-view></course-actions-view>
</div>