<span class="label label-day" ng-class="course.days.indexOf('M') !== -1 ? 'label-primary' : 'label-default'">Mon</span>
<span class="label label-day" ng-class="course.days.indexOf('Tu') !== -1 ? 'label-primary' : 'label-default'">Tue</span>
<span class="label label-day" ng-class="course.days.indexOf('W') !== -1 ? 'label-primary' : 'label-default'">Wed</span>
<span class="label label-day" ng-class="course.days.indexOf('Th') !== -1 ? 'label-primary' : 'label-default'">Thu</span>
<span class="label label-day" ng-class="course.days.indexOf('F') !== -1 ? 'label-primary' : 'label-default'">Fri</span>