<progressbar type="primary" value="100" ng-if="isEmpty()">
    <span class="progressbar-text">All {{getCourseCapacity()}} seats open</span>
</progressbar>

<progressbar type="warning" value="100"  ng-if="hasWaitlist()">
    <span class="progressbar-text">{{getWaitlistCount()}} on waitlist</span>
</progressbar>

<progressbar type="danger" value="100" ng-if="isFull()">
    <span class="progressbar-text">All {{getCourseCapacity()}} seats taken</span>
</progressbar>

<progressbar type="success" value="getSeatsOpen()" max="getCourseCapacity()" ng-if="!isEmpty() && areSeatsOpen()">
    <span class="progressbar-text">{{course.max - course.totalEnr}} of {{course.max}} left</span>
</progressbar>