<div class="list-group">
    <li class="list-group-item">
        <span class="glyphicon glyphicon-tag list-detail-glyphicon"></span>
        <course-name-view></course-name-view>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-user list-detail-glyphicon"></span> 
        <course-instructor-view></course-instructor-view>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-flag list-detail-glyphicon"></span> 
        <course-place-view></course-place-view>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-calendar list-detail-glyphicon"></span>
        <course-held-days-view></course-held-days-view>
    </li>
    <li class="list-group-item">
        <span class="glyphicon glyphicon-time list-detail-glyphicon"></span>
        <course-time-view></course-time-view>
    </li>
    <li class="list-group-item" ng-hide="course.final === undefined">
        <span class="glyphicon glyphicon-education list-detail-glyphicon"></span>
        <strong>Final:</strong> {{course.final}}
    </li>
    <li class="list-group-item">
        <course-progress-view></course-progress-view>
    </li>
    <course-actions-view></course-actions-view>
</div>