<navigation-view></navigation-view>

<div class="container-fluid form-user-management">

    <div class="container">

        <div class="container">
            <alert-view></alert-view>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                
                <div class="btn-group">
                    <label class="btn" ng-class="searchStore.search_type == 'department' ? 'btn-success' : 'btn-default'" ng-model="searchStore.search_type" btn-radio="'department'" uncheckable>Department</label>
                    <label class="btn" ng-class="searchStore.search_type == 'GE' ? 'btn-success' : 'btn-default'" ng-model="searchStore.search_type" btn-radio="'GE'" uncheckable>GE</label>
                    <div class="input-group" ng-hide="searchStore.search_type == ''">
                        <div class="input-group-btn" ng-show="searchStore.search_type == 'department'">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <span ng-show="searchStore.selected_department">
                                    {{searchStore.selected_department}}
                                </span>
                                <span ng-hide="searchStore.selected_department">
                                    Name
                                </span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li role="presentation" ng-repeat="department in searchStore.departments">
                                    <a role="menuitem" tabindex="-1" href ng-click="searchStore.set_department(department)">{{department}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="input-group-btn" ng-show="searchStore.search_type == 'GE'">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <span ng-show="searchStore.selected_category">
                                    {{searchStore.selected_category}}
                                </span>
                                <span ng-hide="searchStore.selected_category">
                                    Category
                                </span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li role="presentation" ng-repeat="category in searchStore.ge_categories">
                                    <a role="menuitem" tabindex="-1" href ng-click="searchStore.set_category(category.value)">{{category.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
                        <input type="text" class="form-control form-control-search-filter" placeholder="Search..." ng-model="filter">
                    </div>
                </div>
                
                
            </div>
            
            <div class="panel-body" ng-hide="searchStore.retrieving_results == undefined">
                
                <div class="spinner" ng-show="searchStore.retrieving_results"></div>
                
                <ul class="list-group" ng-hide="searchStore.retrieving_results">
                    <li class="list-group-item" ng-repeat="class in searchStore.results | classProps:filter">
                        {{class.identifier}} - {{class.name}}
                        <a href="{{class.cocourses}}" ng-show="class.cocourses">Co-Courses</a>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="course in class.course_data">
                                {{course.courseCode}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
    

</div>