<navigation-view></navigation-view>

<div class="container-fluid form-user-management">

    <div class="container">

        <div class="container">
            <alert-view></alert-view>
        </div>
        
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" ng-model="searchStore.selected_type" uib-typeahead="type as type.name for type in searchStore.available_types | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search for department or GE category.." typeahead-on-select="searchStore.get_type($item, $model, $label)">
            <span class="input-group-btn" ng-show="searchStore.selected_type">
                <button class="btn btn-default form-user-management form-control" type="button" ng-click="searchStore.clearSelectedType()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
        
        <div class="panel panel-default">
            
            <div class="panel-heading" ng-show="searchStore.results">
                
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
                    <input type="text" class="form-control form-control-search-filter" placeholder="Filter by class name, instructor, etc..." ng-model="searchStore.filter">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-show="searchStore.filter" ng-click="searchStore.clearFilter()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
                
            </div>
            
            <div class="panel-body" ng-show="searchStore.retrieving_results || searchStore.results">
                
                <div class="spinner" ng-show="searchStore.retrieving_results"></div>
                
                <uib-accordion close-others="false" ng-hide="searchStore.retrieving_results">
                    <class-search-item ng-repeat="class in searchStore.results | classProps:searchStore.filter"></class-search-item>
                </uib-accordion>
                
            </div>
        </div>
    
    </div>
    

</div>