<navigation-view></navigation-view>

<div class="container">
    <ul class="nav nav-pills event-nav">
        <li ui-sref-active="active">
            <a href ui-sref="friends.list">
                <span class="glyphicon glyphicon-calendar"></span>
                Friends
            </a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref="friends.groups">
                <span class="glyphicon glyphicon-envelope"></span>
                Groups
            </a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref="friends.invites">
                <span class="glyphicon glyphicon-envelope"></span>
                Invites
                <span class="badge">{{friendInviteStore.count()}}
            </a>
        </li>
    </ul>
</div>

<div ui-view></div>