<li class="dropdown-header">Already have an account?</li>
<li class="divider"></li>

<form class="form-signin form-user-management" ng-submit="ctrl.login()" autocomplete="on" ng-show="!resettingPassword">

	<input type="text" class="form-control form-control-username login-username" placeholder="Username" ng-model="username" required autofocus />
	<input type="password" class="form-control form-control-password login-password" placeholder="Password" ng-model="password" required />
	<input type="submit" class="btn btn-lg btn-primary btn-block form-control-submit" value="Login" />
	
	<div class="alert alert-danger alert-login" ng-show="error">
		<strong>Whoops!</strong> Either your username or password were incorrect. Please try again.
	</div>

</form>
