<form class="form-signin form-user-management" ng-submit="resetPassword()" autocomplete="on">
    
    <p>Please enter the email address associated with your account.</p>
    
	<input ng-model="email" class="form-control form-control-email registration-email" type="email" placeholder="Email" required />
	<input type="submit" class="btn btn-lg btn-primary btn-block form-control-submit" value="Reset" />	
	
	<div class="alert alert-danger alert-login" ng-show="error">
		<strong>Whoops!</strong> We can't seem to find an account associated with that email.
	</div>
	
	<div class="alert alert-warning alert-login" ng-show="passwordResetGenerated">
		<strong>Reset successful.</strong> Please check your email.
	</div>
    	
</form>