<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<span class="glyphicon glyphicon-user"></span>
		<span class="user-name-display">
		    {{username}}
		    <span class="caret hidden-sm hidden-md hidden-lg">
        </span>
	</a>
	<ul class="dropdown-menu">
		<li>
		    <a href="https://docs.google.com/forms/d/1-V4m2t81fpaSa-PoAK8rL93PkM9xSgA7qyNWtSsSkPQ/viewform?usp=send_form" target="_blank"><span class="glyphicon glyphicon-flag"></span> Report Bug</a>
		</li>
		<li ui-sref-active="active">
		    <a href ui-sref="settings">
			    <span class="glyphicon glyphicon-cog"></span> Settings
	        </a>
		</li>
		<li>
		    <a ng-click="logout()" href>
			    <span class="glyphicon glyphicon-log-out"></span> Sign out
            </a>
		</li>
	</ul>
</li>