<li class="dropdown dropdown-large">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<span class="glyphicon glyphicon-user"></span>
		<span class="user-name-display">
            Not logged in
        </span>
	</a>
	<ul class="dropdown-menu dropdown-menu-large row">
	    <li class="col-sm-6" ng-switch="menu_shown">
	        <ul ng-switch-when="login"><login-partial></login-partial></ul>
            <ul ng-switch-when="register"><registration-partial></registration-partial></ul>
        </li>
        <li class="col-sm-6">
            <ul ng-switch="menu_shown">
                <li class="dropdown-header" ng-switch-when='login'>New to CourseEater?</li>
                <li class="dropdown-header" ng-switch-when='register'>Already have an account?</li>
            </ul>
            <button type="button" class="btn btn-lg btn-primary btn-block form-control-submit" ng-click="toggle_menu($event)">
                <span ng-if="menu_shown == 'login'">
                    Register
                </span>
                <span ng-if="menu_shown == 'register'">
                    Login
                </span>
            </button>
        </li>
		<li class="col-sm-6">
		    <ul>
    		    <li class="dropdown-header">Found a bug?</li>
				<li class="divider"></li>
				<li><a class="btn btn-lg btn-warning btn-block form-control-submit" role="button" href="https://docs.google.com/forms/d/1-V4m2t81fpaSa-PoAK8rL93PkM9xSgA7qyNWtSsSkPQ/viewform?usp=send_form" target="_blank"><span class="glyphicon glyphicon-flag"></span> Report Bug</a></li>
		    </ul>
		</li>
	</ul>
</li>