<div class="container">
    <div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="events.going">Down</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
    				
					<li ui-sref-active="active">
					    <a ui-sref="events.going">
    					    <span class="glyphicon glyphicon-calendar"></span>
    					    Events
                        </a>
					</li>
					<li ui-sref-active="active">
					    <a ui-sref="friends.list">
    					    <span class="glyphicon glyphicon-user"></span>
    					    Friends
                        </a>
					</li>
					
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href class="dropdown-toggle" data-toggle="dropdown"> 
    						<img width="20" height="20" ng-if="authService.currentUser.attributes.profileThumbnail._url" ng-src="{{authService.currentUser.attributes.profileThumbnail._url}}" class="img-circle currentUserProfileThumbnail">
    						<span ng-if="!authService.currentUser.attributes.profileThumbnail._url" class="glyphicon glyphicon-user"></span>
    						{{authService.currentUser.attributes.firstName + " " + authService.currentUser.attributes.lastName}}</a>
						<ul class="dropdown-menu">
    						<li ui-sref-active="active"><a ui-sref="settings.profile"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li ng-click="authService.logout()"><a href><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>