<div class="navbar navbar-default navbar-static-top" role="navigation">
 	<div class="container">
  		<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand" ui-sref="track">CourseEater</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
    			<li ui-sref-active="active">
				    <a href ui-sref="track">
    				    <span class="glyphicon glyphicon-book"></span> Track
    				</a>
				</li>
				<li ui-sref-active="active">
				    <a href ui-sref="schedule">
    				    <span class="glyphicon glyphicon-time"></span> Schedule
    				</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" ng-controller="ListController">
                    <a href class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span> {{courseListStore.activeList.title}}</a>
					<ul class="dropdown-menu">
    					<li ng-show="temporaryStore.hasCourses()" ng-click="temporaryStore.clear()"><a href>Clear temporary courses <span class="glyphicon glyphicon-remove"></span></a></li>
    					<li role="presentation" class="dropdown-header">Course Lists</li>
    					<li ng-repeat="list in courseListStore._collection" ng-class="{'active': list.active}">
    					    <a class="course-list-item-title" ng-click="setActiveList(list)">
        					    {{list.title}} 
        					    <span class="glyphicon glyphicon-cog pull-right" ng-if="courseListStore.activeList == list" ng-click="editList(list)"></span>
        				    </a>
                        </li>
    					<li class="divider"></li>
    					<li ng-click="createList()">
    					    <a href>New <span class="glyphicon glyphicon-plus pull-right"></span></a>
                        </li>
    				</ul>
				</li>
				<li class="dropdown" ng-controller="NavController">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span class="user-name-display">
    					{{authService.currentUser.attributes.username}}
    				</span></a>
					<ul class="dropdown-menu">
    					<li>
    					    <a href="https://docs.google.com/forms/d/1-V4m2t81fpaSa-PoAK8rL93PkM9xSgA7qyNWtSsSkPQ/viewform?usp=send_form" target="_blank"><span class="glyphicon glyphicon-flag"></span> Report Bug</a>
    					</li>
						<li ui-sref-active="active">
						    <a href ui-sref="settings">
    						    <span class="glyphicon glyphicon-cog"></span> Settings
    				        </a>
						</li>
						<li>
						    <a ng-click="authService.logout()" href>
    						    <span class="glyphicon glyphicon-log-out"></span> Sign out
                            </a>
						</li>
					</ul>
				</li>		
			</ul>
		</div>
	</div>
</div>