<navigation-view></navigation-view>

<div class="container">
    <ul class="nav nav-pills event-nav">
        <li ui-sref-active="active">
            <a href ui-sref="events.going">
                <span class="glyphicon glyphicon-calendar"></span>
                Going
            </a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref="events.past">
                <span class="glyphicon glyphicon-time"></span>
                Past
            </a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref="events.invites">
                <span class="glyphicon glyphicon-envelope"></span>
                Invites
                <span class="badge">{{eventInviteStore.count()}}</span>
            </a>
        </li>
    </ul>
</div>

<div ui-view></div>