<navigation-view></navigation-view>

<div class="container">
    <ul class="nav nav-pills event-nav">
        <li ui-sref-active="active">
            <a href ui-sref="settings.profile">
                <span class="glyphicon glyphicon-globe"></span>
                Profile
            </a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref="settings.account">
                <span class="glyphicon glyphicon-wrench"></span>
                Account
            </a>
        </li>
    </ul>
</div>

<div ui-view></div>