<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Profile Picture</h4>
        </div>
        
        <div type="file" ng-file-select ng-model="newImage" ng-file-change="imageSelected($files, $event)" ng-multiple="false" accept="image/*" resetOnClick="true" ng-drag-over-class="'dragover'">
            <div ng-file-drop ng-model="newImage" ng-file-change="imageSelected($files, $event, $rejectedFiles)" ng-multiple="false">
                <img ng-src="{{currentImage}}">
            </div>
        </div>
        
    </div>
    
</div>