<div class="panel" ng-class="invite.event.eventPast() ? 'panel-success' : 'panel-warning' ">
    
    <div class="panel-heading">
        <h3 class="panel-title">
            <img width="20" height="20" ng-src="{{invite.potentialFriend.profileThumbnailURL}}" class="img-circle"> {{invite.potentialFriend.getName()}}
            <span class="pull-right">
            {{invite.createdAt.calendar()}}
            </span>
        </h3>
    </div>
    
    <ul class="list-group">
        <li class="list-group-item">
            Mutual friends: <mini-friend-view info="friendStore.getFriend(friend)" ng-repeat="friend in invite.potentialFriend.mutualFriends"></mini-friend-view>
        </li>
        <li class="list-group-item">
            Attended {{invite.potentialFriend.numberEventsAttendedTogether}} events together
        </li>
    </ul>
    
    <div class="panel-footer">
        <div class="btn-group btn-block dropup">
            <button type="button" class="btn col-xs-6 btn-default" ng-click="acceptInvitation(invite)">
                <span class="glyphicon glyphicon-hand-down"></span> Accept
            </button>
            <button type="button" class="btn col-xs-6 btn-default" ng-click="declineInvitation(invite)">
                <span class="glyphicon glyphicon-ban-circle"></span> Decline
            </button>
        </div>
    </div>
    
</div>