<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$close()">&times;</button>
    <h4 class="modal-title">
        Invite friends to {{targetEvent.title}}
    </h4>
</div>
<div class="modal-body">
    <div class="groupDisplay">
        <h3>Groups</h3>
        <div class="list-group">
            <a href ng-class="isGroupInvited(group.groupIndex) ? 'active list-group-item' : 'list-group-item'" ng-repeat="group in groups" ng-click="toggleGroup(group)">{{group.groupName}}</a>
        </div>
        
    </div>
    <div class="friendDisplay">
        <h3>Friends</h3>
        <div class="list-group">
            <a href ng-class="isFriendInvited(friend.id) ? 'active list-group-item' : 'list-group-item'" ng-repeat="friend in friends" ng-click="toggleFriend(friend.id)">{{friend.getName()}}</a>
        </div>    
    </div>
    
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="sendInvites()">
        Invite {{countInvitees()}} friends to {{targetEvent.title}}
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$close()">
        Close
    </button>
</div>
