<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" tabindex="-1" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        New Event
    </h4>
</div>
<form novalidate class="modal-body">

	<div class="input-group title">
		<span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
		<input type="text" ng-model="eventTitle" class="form-control event-creation-details" tabindex="1" required autofocus autocomplete="off" placeholder="What">
	</div>

	<div class="input-group note">
		<span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
		<input type="text" ng-model="eventNote" class="form-control event-creation-details" tabindex="2"  autocomplete="off" placeholder="Note">
	</div>

	<div class="input-group date">
		<span class="input-group-btn">
		    <button type="button" class="btn btn-default" ng-click="open($event)">
		        <span class="glyphicon glyphicon-calendar"></span>
            </button>
        </span>
		<input
		    ng-click="open($event)"
            type="text"
            class="form-control event-creation-details" 
            datepicker-popup="shortDate" 
            datepicker-options="{{options}}"
            ng-model="eventDate" 
            is-open="opened" 
            min-date="minDate"
            max-date="maxDate"
            ng-required="true"
            show-button-bar="false"
            close-text="Close"
            placeholder="Day"
            tabindex="3"
        />
	</div>

    <timepicker-pop input-time="eventTime" class="input-group" show-meridian='true' tabindex="4"></timepicker-pop>

    <div class="input-group location">
		<span class="input-group-addon"><span class="glyphicon glyphicon-flag"></span></span>
		<input class="form-control" placeholder="Where" ng-model="eventLocation.formattedAddress" googleplace tabindex="5"/>
    </div>
    
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createEvent()" tabindex="6">
        Create {{eventTitle}}
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$close()" tabindex="7">
        Close
    </button>
</div>