body { background-color: #eee; }
/* Prevents body from scrolling while modal is open */
body.modal-open { overflow: hidden; }
.navbar { margin-bottom: 30px; }
.btn { border-radius: 0px; }
.add-course-entry { margin-top: -10px; }
.modal-content { border-radius: 0px; }
.alert { border-radius: 0px; }
.alert-error {
	margin-top: 20px;
	margin-bottom: 0px;
}
.form-user-management .form-control {
    border-radius: 0;
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10.5px;
    font-size: 16px;
}
.form-control.update-info { margin-bottom: 10px; }
.form-control-username { margin-bottom: -1px; }
.form-control-email { margin-bottom: -1px; }
/* Remove pesky a href underline */
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}