body { background-color: #eee; }
/* Prevents body from scrolling while modal is open */
body.modal-open { overflow: hidden; }
/* Setting margin values for a clear interface */
.navbar { margin-bottom: 30px; }
.refresh-data { cursor: pointer; }
.course-list-item-title { cursor: pointer; }
.add-course-entry { margin-top: -10px; }
.search-course { margin-top: -10px; }
.button-add { margin-top: -1px; }
.form-control.update-info { margin-bottom: 10px; }
.form-control-username { margin-bottom: -1px; }
.form-control-email { margin-bottom: -1px; }
.fc-event-vert.fc-event-end { border-radius: 0px !important; }
.modal-content { border-radius: 0px; }
.alert-error {
	margin-top: 20px;
	margin-bottom: 0px;
}
.alert-account-info { 
	margin-top: 10px;
	margin-bottom: 5px;
}
/* Removing border-radius for a square look */
.form-control { border-radius: 0; }
.alert { border-radius: 0px; }
.btn { border-radius: 0px; }
.jumbotron {
	display: block;
	max-width: 800px;
	padding-top: 10px;
	/* padding-bottom: 0px; */
	margin-left: auto;
	margin-right: auto;
	border-radius: 0 !important;
}
.form-user-management .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10.5px;
    font-size: 16px;
}