/* Calendar page */
.schedule .panel-body {
    padding: 0;
}
.fc-event {
	border: 0;
	border-radius: 0;
}
.fc-event:hover {
	cursor:	pointer;
}
.fc-title {
	font-weight: bold;	
}
.fc-content .fc-time {
    display: none;
}
.fc hr {
    padding: 0;
}
/* Mobile Sizing */
@media (max-width: 768px) {
    .schedule {
        padding: 0;
        margin: 0;
    }
    .schedule > .panel {
        margin-top: -30px
    }
}

.alert-section {
    margin-bottom: 0;
}