<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Change password preferences</h3>
	</div>
	<form class="panel-body" ng-submit="updatePassword()">
		
		<div class="alert alert-success" role="alert" ng-show="success">
    		{{message}}
		</div>
		
		<div class="alert alert-danger" role="alert" ng-show="error">
    		{{message}}
		</div>
		
		<div class="form-horizontal">
			<div class="form-group">
				<label for="inputCurrentPassword" class="col-sm-2 control-label">Current password</label>
				<div class="col-sm-10">
                    <input type="password" class="form-control update-info" ng-model="currentPassword" placeholder="Current password" />
				</div>
				<label for="inputNewPassword" class="col-sm-2 control-label">New password</label>
				<div class="col-sm-10">
                    <input type="password" class="form-control update-info" ng-model="newPassword" placeholder="New password" />
				</div>
				<label for="inputVerifyPassword" class="col-sm-2 control-label">Verify password</label>
				<div class="col-sm-10">
                    <input type="password" class="form-control update-info" ng-model="verifyPassword" placeholder="Verify password" />
				</div>
			</div>
			<button type="submit" class="btn btn-lg btn-primary btn-block">Update Password</button>
		</div>
	</form>
</div>