<navigation-view></navigation-view>

<div class="container-fluid form-user-management">

    <div class="container">
        <alert-view></alert-view>
    </div>

    <div class="container add-course-entry">
        <form class="input-group" ng-submit="addCourse()">
            <input id="courseID" type="tel" maxlength="5" class="form-control" placeholder="Enter Course Code" autocomplete="off" ng-model="newCourseCode">
            <span class="input-group-btn">
                <jp-ng-bs-animated-button is-submitting="isSubmitting" result="result" options="buttonConfig.courseCodeAddOptions" ng-click="addCourse(course)">
                </jp-ng-bs-animated-button>
            </span>
        </form>
    </div>
    
    <div class="container" ng-show="courseStore.initialized">
        <div class="container" ng-show="courseStore.empty()">
            <h1>You don't have any courses added :(</h1>
        </div>
        <div ng-hide="courseStore.empty()" class="row">
            <class-view class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="(key, class) in courseStore._collection | groupBy: 'identifier'"></class-view>
        </div>
    </div>
    <div class="container" ng-hide="courseStore.initialized">
        <div class="spinner"></div>
    </div>

</div>