<li class="dropdown" ng-controller="ListController">    
    <a href class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-th-list"></span>
        {{courseListStore.activeList.title}}
    </a>
    <ul class="dropdown-menu">
        <li role="presentation" class="dropdown-header">Course Lists</li>
    	<li ng-repeat="list in courseListStore._collection" ng-class="{'active': list.active}" class="course-list-item">
    	    <a class="course-list-item-title" ng-click="setActiveList(list)">
    		    {{list.title}}
    		    <span class="glyphicon glyphicon-cog pull-right edit-course-list-cog" ng-if="courseListStore.activeList == list" ng-click="editList(list)"></span>
    	    </a>
        </li>
    	<li class="divider"></li>
    	<li ng-click="editList()">
    	    <a href>
        	    New
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </li>
    </ul>
</li>