<div class="modal-header">
    <h3 class="modal-title">
        <input class="form-control" ng-model="list.title" placeholder="Schedule title">
    </h3>
</div>
<div class="modal-footer">
    <div class="btn-group pull-left" dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-success" dropdown-toggle ng-disabled="disabled">
            {{available_terms[list.term]}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu term-menu" role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-repeat="(value, name) in available_terms"><a href="#" ng-click="changeTerm(value)">{{name}}</a></li>
        </ul>
    </div>
    <jp-ng-bs-animated-button is-submitting="isCreating" result="result" options="buttonConfig.createList" ng-click="createList()" ng-show="list.newList"></jp-ng-bs-animated-button>
    <jp-ng-bs-animated-button is-submitting="isDeleting" result="result" options="buttonConfig.deleteList" ng-click="deleteList()" ng-hide="list.newList"></jp-ng-bs-animated-button>
    <jp-ng-bs-animated-button is-submitting="isSaving" result="result" options="buttonConfig.saveList" ng-click="saveList()" ng-hide="list.newList"></jp-ng-bs-animated-button>
</div>