<div ng-controller="AlertController">
    
    <div ng-repeat="alert in alertStore.messages" class="alert alert-warning alert-dismissible" role="alert">

        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alertStore.removeMessage($index)"><span aria-hidden="true">&times;</span></button>
        
        <div ng-if="alert.newTermNotification">
            New term schedule now available!
            <a href class="alert-link" ng-click="newCourseList()">Create new schedule</a>
        </div>
        
        <div ng-if="!alert.newTermNotification">
            {{alert.message}}
        </div>
                
    </div>
</div>